.btn-primary {
    background-color: #008c28;
    border-color: #008c28;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #00a928;
    border-color: #00a928;
}

.form-control:not([disabled]):hover, .form-control:not([disabled]):focus {
    border-color: #008c28;
}

a {
    color: #008c28;
}

a:hover, a:focus {
    color: #00a928;
}

.login-logo-triangle-container {
    left: 0;
    border-width: 0px 0 265px 484px;
    border-color: transparent transparent transparent #fff;
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    /* bottom: 0; */
    /* right: 0; */
    border-style: solid;
}

.login-logo-container {
    position: absolute;
    z-index: 9999;
    /* width: 30%; */
    top: 27px;
    left: 14px;
}

.login-logo-container img {
    width: 88%;
}

.banner-text-container {
    position: absolute;
    top: 40%;
}
.hide-on-big-screen{
    display: none!important;
}
.my-h-auto{
    height: 100% !important;
}
.login-footer{
    position: absolute;
    bottom: 0;
}
img.logo-fold{
    margin: auto;
    width: 65px;
}
.side-nav .side-nav-inner .side-nav-menu li.nav-item.active {
    background-color: rgba(63,135,245,0.15);
}
.side-nav .side-nav-inner .side-nav-menu li.nav-item.active a{
    color: #3f87f5;
}
.side-nav .side-nav-inner .side-nav-menu li.nav-item.active:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0.0001);
    -webkit-transform: scaleY(0.0001);
    -moz-transform: scaleY(0.0001);
    -o-transform: scaleY(0.0001);
    -ms-transform: scaleY(0.0001);
    transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
    border-right: 2px solid;
    border-color: #3f87f5;
}
.side-nav .side-nav-inner .side-nav-menu li.nav-item.active:after, div.dropdown-menu.pop-profile > a.active:after {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    opacity: 1;
}
.logo img.real-logo{
    width: 80%;
}
label.is-invalid, span.is-invalid{
    color: #de4436;
}
.my-file-preview-btn{
    display: inline;
}
.my-file-preview-btn .anticon:before{
    font-size: 17px;
    color: #5796f6;
}
.form-text.text-muted {
    font-size: 12px;
}
.pos-fixed{
    position: fixed;
}
.r-10{
    right: 10px;
}
.t-10{
    top: 10px;
}
.toast-header h6{
    margin-left: 4px;
    margin-bottom: auto;
    margin-top: auto;
}
.toast-header small{
    position: absolute;
    right: 20px;
}
.toast-header button{
    position: absolute;
    right: 6px;
}
.actions-btn-container .btn{
    margin-bottom: 5px;
    padding: 1px 4px!important;
    line-height: 1.5;
    width: unset;
    height: unset;
    font-size: 17px;
}
.actions-btn-container .btn-primary, .real-btn-primary{
    background-color: #3f87f5;
    border-color: #3f87f5;
    color: #fff!important;
}
.actions-btn-container .btn-primary:hover, .real-btn-primary:hover, .real-btn-primary:focus {
    color: #fff!important;
    background-color: #2778f4!important;
    border-color: #2778f4!important;
}
.inline{
    display: inline;
}
div.toast-container{
    z-index: 9999;
}
div.dropdown-menu.pop-profile > a.active{
    background-color: rgba(63,135,245,0.15);
    color: #3f87f5;
}
.my-additional-add-btn{
    padding: 8px 12px;
    color: #ffffff;
}
.input-group.with-add-btn .select2-container.select2{
    width: 100%;
}
.input-group .input-group-container{
    display: inline-flex;
    width: 100%;
}
.form-group .form-error {
    color: #FFF;
    background-color: #f33155;
    padding: 5px 5px 5px 13px;
}
.pull-right{
    float: right;
}
.wd-15p-f {
    width: 15% !important;
}
.wd-100p-f{
    width: 100%!important;
}
.no-max-width{
    max-width: unset!important;
}
.wd-150-f{
    width:150px!important;
}
.wd-70-f{
    width:70px!important;
}
.wd-50-f{
    width:50px!important;
}

button[data-repeater-delete]{
    position: absolute;
    right: 8px;
    top: 14px;
    height: 26px;
    width: 26px;
    padding: 1px 3px 0px 4px;
    line-height: unset;
    border-radius: 20px;
    font-size: inherit;
}
.card-header button[data-repeater-delete]{
    padding: 0px 5px 0px 4px;
}
.my-recommendation-repeater{
    margin-bottom: 20px;
}
.repeater-item{
    padding-top: 20px;
    border-right: 1px solid #edf2f9;
    border-bottom: 1px solid #edf2f9;
    margin-bottom: 25px;
    padding-bottom: 12px;
    padding-right: 18px;
}
input.select2-input{
    /*width: 100% !important;*/
}
.not-empty .first-one {
    display: none!important;
}
.my-repeater-badge{
    top: -20px!important;;
    right: -27px!important;;
    width: 20px!important;;
    height: 19px!important;;
    line-height: 20px!important;;
    font-weight: 400!important;
}
.input-group-container span.is-invalid{
    top: 71px;
    position: absolute;
}
.select2-container.is-invalid .select2-choices,.select2-container.is-invalid .select2-choice {
    border-color: #dc3545;
}
.nav-link.tab-with-error{
    border-bottom: 2px solid #dc3545!important;
    color: #dc3545!important;
}
.cover-section .inner-box{
    position: relative;
    overflow: hidden;
}
.cover-section .image-box{
    position: relative;
    overflow: hidden;
}
.cover-section .image-box figure{
    margin-bottom: 0px;
}
.cover-section .overlay-box figure img{
    width: 12px;
}
.was-validated .form-control:valid, .form-control.is-valid{
    background-position: center right calc(0.575em + 0.1975rem);
}
.cover-section .image-box img{
    width: 100%;
    transform: scale(1.01);
}
.cover-section .overlay-box{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    vertical-align:  middle;
    align-items:  center;
    display:  inline-flex;
    justify-content:  center;
    background: rgba(0, 0, 0, 0.5);
    transform: scale(0,0);
    -webkit-transform:scale(0,0);
    -moz-transform:scale(0,0);
    -ms-transform:scale(0,0);
    -o-transform:scale(0,0);
    transition:all 700ms ease;
}
.cover-section .inner-box:hover .overlay-box{
    transform: scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transition:all 700ms ease;
}

.cover-section .overlay-box a {
    color: #ffffff;
    font-size: 16px;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 32px;
    background: #26449b;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .hide-on-big-screen{
        display: block!important;
    }
    .my-h-auto{
        height: auto!important;
    }
    .mobile-m-t-b-10{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (min-width: 998px) {
    .card-body > h4{
        font-size: 30px;
    }
    .card-body > .btn{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .my-account-border-right{
        border-right: 1px solid #edf2f9;
    }

}
.dashboard-stats img{
    width: 48px;
}
.dashboard-stats .card-body{
    padding: 30px 20px;
}
.note-editable {font-family: Arial; font-size: 16px!important;}
.note-editable *{
	color: black;
}
@media (min-width: 1024px) and (max-width: 1200px){
	.banner-text-container {
		position: absolute;
		top: 23%;
	}
	.login-form-container{
		margin-top: 51px;
	}
	.login-container .my-h-auto {
		height: auto!important;
	}

}

div.dt-buttons{
	float:unset!important;
}
