

@media (min-width: 768px) {
    .logo-nav-row .navbar-nav>li>a{
        padding: 31px 22px;
    }
    div#bs-example-navbar-collapse-1 ul {
        margin-top: 26px;
    }
}

.logo-nav-row ul.nav.navbar-nav.navbar-right .search-btn a{
    background: none!important;
}
.outerTitleDescription{
    height: 82px;
    display: table;
}
.innerTitleDescription{
    vertical-align: middle;
    display: table-cell;
}
.mg-t-17{
    margin-top: 17px;
}
body{
    overflow-x: hidden;
}
.fact-box{
    padding: 24px 0 0 80px;
}
.fact-box i{
    top: 35px;
}
.fact-box i img{
    width: 50px;
}
@media (max-width: 767px) and (min-width: 280px){
    .logo-nav-row .navbar-toggle {
        margin: 48px 0 0 0;
    }
    .slider-caption p{
        display: block;
        margin: auto;
        font-size: 13px;
        line-height: 17px;
    }
    .slider-caption a{
        display: inline-block;
        padding: 5px 10px;
        line-height: 22px;
    }
}
.title-style-2 a.my-a{
    float: none;
    padding: 10px 20px;
}
.main-footer{
    margin-bottom: 23px!important;
}
.share-post .whats{
    color: #0ec244;
}
.share-post .linken{
    color: #006087;
}
.subheader {
    background: url(../images/breadcump-bg1.jpg) no-repeat!important;
}
.sidebar .widget h4{
    font-size: 17px;
}

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 25px;
    width: 25px;
    box-shadow: 0px 0px 6px 0px rgba(180,180,180,.75) inset;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.city-updates ul{
    overflow: unset!important;
}
.no-float{
    float: none!important;
}
.eval-list-container .share-post li{
    padding: 2px 2px!important;
    border-bottom: unset!important;
}
.eval-list-container .btn-group.share-post .dropdown-menu{
    left: 33px!important;
}
.eval-list-container .see-more{
    margin: 0 0 0px 29px!important;
    padding: 5px 20px 5px 10px!important;
}
.eval-list-container .see-more i{
    margin-right: 5px;
}
.eval-list-container .eval-list-content{
    margin-left: 42px;
}
.eval-list-container .eval-list-content h5 a{
    color: black;
    line-height: 1.4;
}
.eval-list-container .eval-list-content .eval-list-btns-container{
    margin-top: 10px
}
.eval-ul{
    margin-bottom: 14px!important;
}
@media (max-width: 768px) {
    .eval-list-container .eval-list-content h5 a{
        font-size: 16px;
    }
    .s002 .search-btn-container{
        margin: auto!important;
    }
    .eval-last .eval-list-content .pagination-content{
        margin-top: -5px;
    }
    .eval-list-container .eval-list-content .eval-list-btns-container .eval-list-btns{
        display: flex;
        margin-top: 10px;
    }


}
@media (max-width: 1024px) {
    .eval-list-container .see-more {
        margin: 0 0 0px 8px!important;
        padding: 5px 12px 5px 6px!important;
    }
}
@media (min-width: 768px) {
    .eval-list-container{
        padding-left: 19px;
        padding-right: 15px;
    }
    .eval-year-grouping a{
        padding: 0 17px;
    }
}
@media (width: 768px){
    .s002 .search-btn-container .btn-search{
        margin-top: 7px;
    }
}

@media (max-width: 500px) {
    .eval-list-btns{
        margin-top: 10px!important;
        /* font-size: 10px!important; */
        display: flex!important;
    }
    .eval-list-container .eval-list-btns > .see-more:first-child{
        margin: unset!important;
    }
    .eval-list-container .see-more i{
        margin-right: unset!important;
    }
    .eval-list-container .see-more {
        font-size: 11px;
        margin: 0 0 0px 9px!important;
        padding: 5px 5px 5px 6px!important;
    }
    .eval-list-container .btn-group.share-post .dropdown-menu {
        left: 10px!important;
    }
    .checkmark{
        left: 7px!important;
    }
}
@media (max-width: 360px) {
    .eval-list-container .see-more{
        font-size: 10px;
    }
}
.search-icon{
    color: #d94148!important;
}
.right-links li:last-child {
    border-right: unset!important;
}


/*FOR IPAD*/
@media (min-width: 500px) and (max-width: 768px){
    .logo-nav-row .navbar-nav>li>a{
        font-size: 11px;
    }
    div#bs-example-navbar-collapse-1 ul{
        margin-left: -47px;
    }
    .logo-nav-row .navbar-nav>li>a{
        padding: 31px 7px;
    }
    .topbar .right-links{
        margin-left: -35px;
    }
    .local-brands .lb-ser-box h6{
        font-size: 15px!important;
    }
    .event-post-loc{
        font-size: 12px;
    }
    img.footer-logo{
        width: 62% !important;
    }
    .third-footer-widget{
        padding-top: 13px!important;
        padding-left: 46px!important;
    }
    .eval-list-container .eval-list-content .eval-list-btns-container .eval-list-btns{
        margin-left: -10px;
    }
}

.textwidget h6 {
    font-size: 22px;
    color: #fff;
    margin: 0;
    font-weight: 600;
    margin-bottom: 16px;
}
.events-wrapper {
    padding: 19px 0!important;
}
.s002 label{
    text-align: center;
    font-size: 13px;
    color: white;
    display: block;
}
.s002 select{
    height: 70px;
    background: #fff;
    border-radius: 0;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 20px 10px 45px;
    font-size: 16px;
    color: #555;
    font-weight: 400;
}

.s002 input, .s002 select{
    border-right: 1px solid #ddd!important;
    padding: 10px 20px 10px 25px!important;
    height: 45px!important;
}
.s002 form .inner-form .input-field{
    border-right: unset!important;
    padding: unset!important;
}
.s002 form .inner-form .input-field .icon-wrap{
    top: 10px;
    width: 22px;

}
.s002 form .btn-search{
    height: 70px;
    width: 100%;
    /*background: #b78a62;*/
    white-space: nowrap;
    border-radius: .5px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: #d94148;
}
.s002 form .inner-form {
    background: rgba(0, 0, 0, 0.2);
}
.s002 .search-btn-container{
    margin-top: 26px;
}

.s002 form .btn-search{
    height: 45px!important;
    padding: 8px 10px!important;
}
.eval-list-btns-container .post-date:first-child{
    margin-left: unset!important;
}
.eval-list-btns-container .post-date{
    margin-left: 15px;
}
.eval-last .eval-list-content a.see-more{
    margin: 0 0 0px 5px!important;
}
.eval-last > li{
    margin: 0 0 0px 5px!important;
    padding: 5px 0 11px 0!important;
}
.eval-last .checkmark{
    top: 1px;
}
.eval-last .eval-list-content .pagination-content a.btn-search{
    padding: 1px 8px;
    white-space: nowrap;
    border-radius: .5px;
    font-size: 22px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: #d94148;
}